@import './media';

.example-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  padding: 20px;
  background: #999;
  color: #234;
  margin: 0px;
}
.footer {
  @extend .header;
}
.body {
  display: flex;
  flex-grow: 1;
  background: pink;
}
.col-1 {
  background: lightblue;
  margin: 0px;
  flex-grow: 1;
}
.col-2 {
  background: honeydew;
  margin: 0px;
  width: 120px;
  order: -1;
}
.col-3 {
  background: peachpuff;
  margin: 0px;
  width: 120px;
}
@media (max-width: 800px) {
  .body {
    flex-direction: column;
    .col-2,
    .col-3 {
      width: auto;
      height: 50px;
    }
  }
}
