/* element selectors */
h1 {
  color: crimson;
}
h2 {
  color: cadetblue;
}
/* css rule */
/* selector */
/* declaration block */
/* property */
/* value */
p {
  color: gray;
}
#heading {
  color: maroon;
  background: powderblue;
}
