@mixin flexCenter($direction, $background) {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: $direction;
  background: $background;
}
header {
  @include flexCenter(column, red);
  // background: lightskyblue;
  button {
    background: $primaryBTn;
    &:hover {
      background: greenyellow;
    }
    &::after {
      content: 'helloooooooow';
    }
  }
}
