body {
  background: linear-gradient(rgb(9, 189, 3), white);
}
div {
  width: 150px;
  height: 150px;
  /* display: flex; */
  margin: 5px;
}
.one {
  background: linear-gradient(red, green);
}
.two {
  background: linear-gradient(to top, red, green);
}
.three {
  background: linear-gradient(150deg, pink, magenta);
}
.four {
  background: linear-gradient(to top right, blue, yellow);
}
.five {
  background: linear-gradient(to top left, blue, yellow);
}
