/* root element of the document
html element
general styles
css variables 
 */
:root {
  background: rgba(0, 244, 244, 0.8);
  font-size: 25%;
}
h1 {
  font-size: 3rem;
}
.absolute {
  font-size: 24px;
}
.responsive {
  font-size: 1.5rem;
}
